/* Стили для notificationBox */
.notification-box {
    -fx-background-color: transparent;
}

/* Стили для уведомлений */
.notification {
    -fx-background-color: rgba(212, 237, 218, 0.9); /* Зеленый для успеха */
    -fx-border-color: #c3e6cb;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-padding: 10;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 5, 0, 0, 2);
}

/* Стили для уведомлений об ошибках */
.notification.error {
    -fx-background-color: rgba(248, 215, 218, 0.9); /* Красный для ошибок */
    -fx-border-color: #f5c6cb;
}

/* Стили для кнопки закрытия */
.close-button {
    -fx-background-color: transparent;
    -fx-text-fill: #155724;
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-padding: 0 0 0 10; /* Отступ слева */
}

/* Стили для основного фона */
.main-background {
    -fx-background-image: url("/background.jpg");
    -fx-background-size: cover;
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
}

/* Стили для закругленных меток */
.rounded-label {
    -fx-background-radius: 10;
    -fx-padding: 5 10 5 10;
    -fx-background-color: rgba(0, 0, 0, 0.5);
    -fx-text-fill: white;
}

/* Стили для нижней панели кнопок */
.bottom-panel {
    -fx-background-color: #424242;
}

/* Стили для кнопок */
.styled-button {
    -fx-background-color: #ff9800;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-background-radius: 10;
    -fx-padding: 10 20 10 20;
}
